@model List<CatalogApp.Models.Product>

<h2>Your Cart</h2>
<hr />

@if (Model.Count == 0)
{
    <p>No items in cart.</p>
}
else
{
    <table border="1" cellpadding="8">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
        </tr>

        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Title</td>
                <td>@p.Price</td>
            </tr>
        }
    </table>
}

<br />
<a asp-action="Index">Back to Products</a>
