<h2>Insert Role</h2>

<form method="post" action="/Roles/Insert">
    
    <label>ID</label><br>
    <input type="number" name="Id"><br><br>

    <label>Name</label><br>
    <input type="text" name="Name"><br><br>

    <label>LOB</label><br>
    <input type="text" name="Lob"><br><br>

    <button type="submit">Save</button>

</form>
