<h2>Update Role</h2>

<form method="post" action="/Roles/Update">

    <label>ID (Enter the ID you want to update)</label><br>
    <input type="number" name="Id"><br><br>

    <label>New Name</label><br>
    <input type="text" name="Name"><br><br>

    <label>New LOB</label><br>
    <input type="text" name="Lob"><br><br>

    <button type="submit">Update</button>

</form>
